.about-container {
  display: flex;
  width: 100% ;
  justify-content: space-between;
  height: 140vh;
  background: #ffffff;
  align-items: center;
}

/* LEFT CONTENT */
.about-left {
  flex: 1.3;
}

.about-badge {
  display: inline-block;
  border: 1px solid #000;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.about-left h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 24px;
}

.about-description {
  font-size: 16px;
  margin-bottom: 16px;
}

.about-sub {
  font-size: 16px;
  margin-bottom: 32px;
}

.about-btn {
  background: #1f1f1f;
  color: #fff;
  padding: 14px 26px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* STATS */
.about-stats {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stat h2 {
  font-size: 42px;
  margin-bottom: 6px;
}

.stat p {
  font-size: 14px;
}

/* IMAGE */
.about-image-wrapper {
  flex: 1;
  /* overflow: hidden; */
}

.about-image {
  width: 100%;
  height: 520px;
  object-fit: cover;
  transition: transform 0.4s ease;
  will-change: transform;
  pointer-events: none;
}
